:root {
  --branding-color: ;
  --secondary-color: ;
  --text-color: ;
  --header-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

section {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/open books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: paleturquoise;
  padding: 60px;
  text-align: center;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 56px;
  margin: 0;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-size: 32px;
  margin: 15px 0 50px 0;
}

h3 {
  font-family: var(--paragraph-font-family);
  margin: 0;
}

header a {
  background-color: white;
  border-radius: 4px;
  color: blueviolet;
  font-family: var(--paragraph-font-family);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: var(--paragraph-font-family);
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(rgba(39, 32, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("../images/diagonal\ books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 60px;
}

footer h3 {
  color: paleturquoise;
  font-size: 20px;
}

footer ul {
  margin: 0;
  padding: 16px 0;
}

footer li {
  color: paleturquoise;
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  list-style: none;
  padding: 0;
  opacity: 0.7;
}

footer p {
  color: paleturquoise;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}
