:root {
  --branding-color: ;
  --accent-color: #94e8b4;
  --text-color: ;
  --header-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

body {
  background-color: #574d68;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

section {
  margin: 0 auto;
  padding: 60px 75px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/open books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-color);
  padding: 60px;
  text-align: center;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 56px;
  margin: 0;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-size: 32px;
  margin: 15px 0 50px 0;
}

h3 {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  margin: 0;
}

h5 {
  font-family: var(--paragraph-font-family);
  font-size: 13px;
  margin: 0;
}

.button-light {
  background-color: white;
  color: blueviolet;
  font-family: var(--paragraph-font-family);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: var(--paragraph-font-family);
  opacity: 0.7;
}

.general-tips {
  padding: 60px 100px;
}

.two-column-grid {
  background-color: white;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.general-tips-image {
  max-width: 85%;
}

.three-column-grid-uneven {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 2fr;
}

section.embeds {
  background-color: #ded7d5;
}

section.embeds h2 {
  text-align: center;
}

.three-column-grid-even {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.card-body {
  padding: 30px;
}

.button-dark {
  background-color: #94e8b4;
  box-shadow: 20px 20px 40px 0px rgba(198, 198, 198, 0.2);
  display: block;
  color: var(--branding-color);
  font-family: var(--paragraph-font-family);
  padding: 16px 32px;
  margin: 40px auto 10px auto;
  text-align: center;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(39, 32, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("../images/diagonal\ books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  color: var(--accent-color);
}

footer ul {
  margin: 0;
  padding: 16px 0;
}

footer li {
  color: var(--accent-color);
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  list-style: none;
  padding: 0;
  opacity: 0.7;
}

footer p {
  color: var(--accent-color);
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  h3,
  ul,
  p {
    text-align: center;
  }

  section {
    padding: 30px 15px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .grid {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .general-tips {
    padding: 30px 30px;
  }

  .embeds p {
    text-align: start;
  }
}
