:root {
  --primary-color: #574d68;
  --secondary-color: #77fee5;
  --text-color: ;
  --header-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

section {
  margin: 0 auto;
  padding: 60px 75px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/open books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--secondary-color);
  padding: 100px;
  text-align: center;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 56px;
  margin: 0;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-size: 32px;
  margin: 15px 0 50px 0;
}

h3 {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  margin: 0;
}

h5 {
  font-family: var(--paragraph-font-family);
  font-size: 13px;
  margin: 0;
}

p,
ul {
  font-family: var(--paragraph-font-family);
  line-height: 1.5;
  opacity: 0.7;
}

section.general-tips {
  background-color: #fceff9;
}

.general-tips h2 {
  color: black;
  font-family: var(--paragraph-font-family);
  font-size: 32px;
  margin: 15px 0 15px 0;
}

.general-tips p,
ul {
  color: black;
}

.two-column-grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.general-tips-image {
  margin-top: 40px;
  max-width: 85%;
}

.highlight {
  display: inline;
  padding: 0.01em 0;
  background: var(--secondary-color);
  box-shadow: 0.2em 0 0 var(--secondary-color),
    -0.2em 0 0 var(--secondary-color);
}

.three-column-grid-uneven {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 2fr 2fr;
}

section.cards {
  background-color: #f7f7f7;
}

section.cards h2,
section.more-tips h2 {
  text-align: center;
}

section.more-tips h2 {
  color: white;
}

.three-column-grid-even {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-responsive {
  display: block;
  width: 100%;
}

.embed {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.audiobook-embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.card-body {
  padding: 30px;
}

.button {
  background-color: var(--secondary-color);
  box-shadow: 20px 20px 40px 0px rgba(198, 198, 198, 0.2);
  display: block;
  color: black;
  font-family: var(--paragraph-font-family);
  padding: 16px 32px;
  margin: 40px auto 10px auto;
  text-align: center;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  transform: scale(1.15, 1.15);
  transition: all 200ms ease-in-out;
}

.audio-h4 {
  margin-top: -25px;
}

.more-tips {
  background-color: var(--primary-color);
}

.gallery-image {
  max-width: 100%;
}

.gallery-image:hover {
  opacity: 0.8;
  transform: scale(1.03, 1.03);
  transition: all 200ms ease-in-out;
}

footer {
  background-image: linear-gradient(rgba(39, 32, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bookshelf\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  color: white;
  text-align: start;
}

footer ul {
  margin: 0;
  padding: 16px 0;
}

footer li {
  color: white;
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  list-style: none;
  padding: 0;
}

footer p,
footer ul {
  color: white;
  opacity: 1;
}

footer a {
  color: var(--secondary-color);
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  h3,
  h4 {
    text-align: center;
  }

  section {
    padding: 30px 15px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .grid {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .general-tips {
    padding: 30px 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
